
/IKDU_AnimationsSpil/[Ll]ibrary/
/IKDU_AnimationsSpil/[Tt]emp/
/IKDU_AnimationsSpil/[Oo]bj/
/IKDU_AnimationsSpil/[Bb]uild/
/IKDU_AnimationsSpil/[Bb]uilds/
/IKDU_AnimationsSpil/[Ll]ogs/
/IKDU_AnimationsSpil/[Uu]ser[Ss]ettings/

ExportedObj/
.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

*.apk
*.aab
*.unitypackage
*.app
